body {}

.wrapper {
    margin: 0 auto;
    width: 65%;

}


.item {
    position: relative;
    float: left;
    margin-right: 1em;
}

.item-wonderwoman {
    float: left;
}

.whoIsWho {
    margin: 0 auto;
    clear: both;
    width: 65%;
    padding-top: 1em;
}

.whoIsWho>div {
    float: left;
}

h1 {
    color: blue;

}

h1,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}